[submodule "Archipelago"]
	path = Archipelago
	url = https://github.com/Troloze/Archipelago
[submodule "KhimeraDAMG-AP-Mod"]
	path = KhimeraDAMG-AP-Mod
	url = https://github.com/Troloze/KhimeraDAMG-AP-Mod
